@import url(fonts/fonts.css);

body {
  background-image:url(img/Espresso-coffee-beans-stock-photo.webp);
  padding: 20px;
}

h1 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 45px;
}

h1, h2, p {
  text-align: center;
}

.coffee h2 {
  margin-top: 15px;
}

.menu {
  background-color: burlywood;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
}

h1, h2 {
  font-family: SF Espresso Shack;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flavour, .pastry {
  text-align: left;
  width: 70%;
}

.price {
  text-align: right;
  width: 25%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}