@font-face {
  font-family: SF Espresso Shack;
  src: url(sf-espresso-shack/TrueType/SFEspressoShack.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SF Espresso Shack;
  src: url(sf-espresso-shack/TrueType/SFEspressoShack-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SF Espresso Shack;
  src: url(sf-espresso-shack/TrueType/SFEspressoShack-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Brownies;
  src: url(FONT/Brownies.otf);
  font-weight: normal;
  font-style: normal;
}